body {
    margin: 15px;
}

main {
    width: 60%;
    margin: 0 auto;
}

.main-footer {
    margin: 20px 0 0 0;
}

#create-button {
    margin: 15px 0 0 0;
}

.strikethrough-text {
    text-decoration: line-through;
}

.normal-text {
    text-decoration: none;
}