<!DOCTYPE html>
<html lang="en" ng-app="TodoList">
<head>
    <title>ToDo list</title>
    <meta charset="utf-8" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="Scripts/new-html-elements.js"></script>
    <!--<script src="Scripts/repository.js"></script>
    <script src="Scripts/customtodo.js"></script>-->

    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css">   
    <link rel="stylesheet" type="text/css" href="Content/glyphicon.css">
    <link rel="stylesheet" type="text/css" href="Content/interaction.css">
    <link rel="stylesheet" type="text/css" href="Content/style.css">
</head>
<body ng-controller="TodoListController as list">
    <main>
        <!--
        <form method="post" id="popup" ng-show="isVisiblePopup" ng-submit="submitNewTodo()">
            <label for="isCompleted">Is completed:</label>
            <input type="checkbox" ng-model="isCompleted" />
            <label for="name">Description:</label>
            <textarea ng-model="name"></textarea>
            <input type="submit" class="btn" value="Submit" />
            <input type="button" class="btn" value="Close" ng-click="hidePopup()" />
        </form>
            -->

        <div class="panel panel-info">

            <div class="panel-heading text-center">
                <h1>Tasks</h1>
            </div>

            <div class="panel-body">
                <ul class="list-group">


                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-checked="{{todo.IsCompleted}}">
                            </span>
                            <textarea class="form-control" ng-model="todo.Name">Text for task text for task{todo.Name}}</textarea>
                            <span class="input-group-addon" ng-click="deleteTodo($index, todo.ToDoId)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-checked="{{todo.IsCompleted}}">
                            </span>
                            <textarea class="form-control" ng-model="todo.Name">Text for task text for task{todo.Name}}</textarea>
                            <span class="input-group-addon" ng-click="deleteTodo($index, todo.ToDoId)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </div>
                    </li>



                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-checked="{{todo.IsCompleted}}">
                            </span>
                            <textarea class="form-control" ng-model="todo.Name">Text for task text for task{todo.Name}}</textarea>
                            <span class="input-group-addon" ng-click="deleteTodo($index, todo.ToDoId)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </div>
                    </li>


                </ul>
                <div class="text-center">
                    <span class="glyphicon glyphicon-plus-sign" ng-click="showPopup()"></span>
                </div>
                <!--<button type="button" class="btn btn-success pull-right" ng-click="createForm()">Save</button>-->
            </div>

            <div class="panel-footer">Author: Bingo Bongo</div>

        </div>

    </main>

</body>
</html>

<!--
<li ng-repeat="todo in todoList track by $index" class="list-group-item">
    <div class="input-group">
        <span class="input-group-addon">
            <input type="checkbox">
        </span>
        <textarea class="form-control" ng-model="todo.Name">{{todo.Name}}</textarea>
        <span class="input-group-addon" ng-click="deleteTodo($index, todo.ToDoId)">
            <i class="glyphicon glyphicon-remove"></i>
        </span>
    </div>
</li>
-->
